.App {
  text-align: center;
}

.film-cover{
  width: auto 0;
}

.flex-grid {
  display: flex;
  background-color:black;
  flex-flow:wrap;
  justify-content: space-between;
}

.col {
  flex: 1;
  margin: auto 0;
  position: relative;
  overflow: hidden;
  flex-basis: 400px;
}

img {
  width:100%;
  top:0;
  height: 500px;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  transition: .1s ease-in;
  color:white;
}

.col:hover img{
  opacity: 0.4;
}

.col:hover .overlay{
  top:440px;
  opacity: 1;
  transform: translateY(-50px);
}